* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

body{
   
    min-height: 100dvh;
}




header {
    width: 100dvw;
    height: 100dvh;


        & nav {
          
           height: 10dvh;
            display: flex;
            align-items: center;
            padding: 1rem;
            gap: 15dvw;
            flex-direction: row;
            justify-items: center;
            justify-content: center;

            
                
               & a {
                padding: 2dvw;
                background-color: #00baff;
                color: white; 
                align-items: center;
                display: flex;
                
                border-radius: 5%;
                flex-direction: row;
                 

               }
        }

          
    }

       & .hero {
       height: 90dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: blueviolet;

     


    }



section {
        width: 100dvw;
        height: 100dvh;
        padding: 2rem;
      


                
}
  


     
    
  

 





footer {
    width: 100dvw;
    height: 20dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}




.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}


.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(204, 204, 204);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container em volta do conteudo */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Os circulos na linha do tempo*/
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(0, 0, 0);
  border: 4px solid #55bbff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Coloca o container do lado esquerdo*/
.left {
  left: 0;
}

/* Coloca o container do lado direito */
.right {
  left: 50%;
}

/* Coloca pontinhas no container (apontando para direita) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 1.5rem;
  width: 0;
  z-index: 1;
  right: 2rem;
  border: medium solid  rgb(66, 65, 65);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent   rgb(66, 65, 65);
}

/*Coloca pontinhas no container  (apontando para esquerda) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 1.5rem;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(66, 65, 65);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(66, 65, 65) transparent transparent;
}

/* Ajusta as pontinhas */
.right::after {
  left: -1rem;
}

/* O conteudo de cada container */
.content {
  padding: 20px 30px;
  background-color: rgb(66, 65, 65);
  position: relative;
  border-radius: 6px;
}


@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 2rem;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 4rem;
  padding-right: 1.5rem;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 3.5rem;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(66, 65, 65) transparent transparent;
  }

  /*mantem as pontinhas na posiçao correta sempre*/
  .left::after, .right::after {
  left: 1rem;
  }
  
  /* faz com que os containers da esquerda se comportem com os containers da direita */
  .right {
  left: 0%;

  }

  }



p{
  color: rgb(168, 168, 168);
  line-height: 1.5rem;
}